body{
                margin: 0;
            }
            table{
                border-color: rgb(58, 166, 219);
                margin: 100px 0 0 100px;
                border-spacing: 0;
            }
            td{
                background-color: rgb(58, 166, 219);
                width: 98px;
                height: 98px;
                border-color: white;
            }
            .add, .rem{                
                width: 100px;
                height: 100px;
                font-size: 40px;
                color: white;
                line-height: 100px;
                text-align: center;
            }
            .add {
                background-color: rgb(216, 77, 18);
            }
            .rem{
                background-color: rgb(150, 26, 26);
                position: absolute;
            }
            #remRow{
                top: 100px;
            }
            #remCol {
                left: 100px;
            }
            #addCol{
                margin-top: 100px; 
            }
            #addRow{
                margin-left: 100px; 
            }
            section{
                display: flex;
            }